.card {
    width: 400px;
    display: inline-block;
}
.card-columns .card {
    width: 350px!important;
}
.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

/*.card-columns {*/
/*  @include media-breakpoint-only(lg) {*/
/*    column-count: 4;*/
/*  }*/
/*  @include media-breakpoint-only(xl) {*/
/*    column-count: 5;*/
/*  }*/
/*}*/